


 /*STYLESHEET FOR PASSWORD GIF GENERATOR*/


h1.pass-h1 {
	font-size: 50px;
	color: #e74c3c;
	margin-bottom: 75px;
}

h2.pass-h2 {
	font-size: 20px;
}

.plug__option_one {
	margin-bottom: 50px;
}

.plug__option_two {
	margin-top: 50px;
}

.plug_pass_input {
	margin-top: 5px;
}


.login #login_error {
	border-left-color: transparent !important;
}

.login #login_error img {
	max-width: 100%;
}